.blog
{
  text-align: center;
}
.imgContainer img {
  width: 300px;
  height: 250px;
}

.authdetails
{
  margin:80px;
}
.authdetails img
{
  width: 75px;
  height: 75px;
}
.blog h2
{
  font-size: 40px;
}
.content
{
  padding: 15px;
  inline-size: 100%;
  overflow-wrap: break-word;
}

@media only screen and (min-width: 200px) and (max-width: 767px)
{
  .imgContainer img {
    width: 250px;
    height: 150px;
  }

  .blog h2
  {
  font-size: 50px;
  }

  .content{
    font-size: 13px;
  }
}